.projects__title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 0.5rem;
}
.projects__subtitle {
	font-weight: 700;
}
.projects__quote-name {
	font-size: 15px;
	font-weight: 600;
}
.projects__carousel {
	padding-bottom: 140px;
}



